<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.dotdroid.telemetrictechdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelemetricTechDemo">
        <activity
            android:name=".DeviceMessagesActivity"
            android:parentActivityName=".DevicePagerActivity"/>
        <activity
            android:name=".CameraScreenActivity"
            android:parentActivityName=".DeviceCreateActivity"/>
        <activity
            android:name=".DeviceCreateActivity"
            android:parentActivityName=".DeviceListActivity"/>
        <activity android:name=".DeviceListActivity"/>
        <activity
            android:name=".DevicePagerActivity"
            android:parentActivityName=".DeviceListActivity">
        </activity>
        <activity android:name=".LoginScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>